<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoolZapp - 🌱👨‍🌾 - Web</title>

  <!-- css local link -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Fontawesome  -->
  <script src="https://kit.fontawesome.com/30fc0982d8.js"></script>
  <script type="text/javascript" src="assets/js/fontawesome/font.js"></script>
</head>

<body>
  <header class="top_banner">

  </header>
  <main id="main_app" class="d_flex">
    <div id="boolzapp" class="app_wrapper d_flex">
      <aside id="contacts_aside">
        <header class="header_aside">
          <section id="admin_box" class="d_flex">
            <div class="info_admin d_flex">
              <img id="avatar_image" :src="'assets/img/contact/avatar' + admin.avatar + '.jpg'" alt="">
              <h2 class="name "> {{admin.name}}</h2>
              <!-- /.name -->
            </div>
            <!-- /.info_admin -->
            <!-- potrei usare le emoji al posto delle icon ed incapsularle in un tag al cui dare una class -->
            <nav class="header_aside_nav">
              <i class="nav_admin_icon fas fa-circle-notch"> </i>
              <i class="nav_admin_icon far fa-comment-alt-dots"> </i>
              <i class="nav_admin_icon far fa-ellipsis-v"> </i>
            </nav>
          </section>
          <!-- /#admin_box -->
          <section class="option_alert d_flex">
            <!-- v-if="servingStatus" -->
            <i class="alert_icon fas fa-bell-slash"> </i>
            <!-- <i class="fad fa-bell-on" v-else> </i> -->
            <div class="info_alert">
              <h2>Ricevi notifiche di nuovi messaggi</h2>
              <!-- qui può andare messaggio dinamico se attivo non attivo -->
              <a href="#" class="servingStatus"> Attiva notifiche desktop </a>
            </div>
            <!-- /.info_alert -->
          </section>
        </header>
        <!-- /.header_aside -->
        <main class="main_aside d_flex">
          <section class="normal_contacs_search d_flex">
            <span class="icon_wrapper"><i class="fal fa-search"></i></span>
            <input type="search" class="text_input" v-model="search" placeholder="Cerca o inizia una nuova chat">
          </section>
          <section class="contacts_box d_flex">
            <ul class="contacts_chats_list">
              <li class="chats_contact d_flex" v-for=" (contact,index) in filteredList"
                @click="openCurrentUserWindow(index)">
                <img class="profile_image" :src="'assets/img/contact/avatar' + filteredList[index].avatar + '.jpg'"
                  alt="">
                <div class="info_contact d_flex">
                  <header class="header_chats_contac d_flex">
                    <h3 class="name_contact">{{contact.name}} </h3>
                    <!-- contact.name e filteredList[index].name -->
                    <time class="chats_time">
                      {{contact.messages[(contact.messages).length - 1].date}}</time>
                  </header>
                  <p class="last_message"> {{contact.messages[(contact.messages).length - 1].text}} </p>
                  <!-- filteredList[index].messages[(filteredList[index].messages).length - 1].text è l'equivalente di  contact.messages[(contact.messages).length - 1].text -->
                </div>
                <!-- /.info_contact -->
              </li>
            </ul>
          </section>
          <!-- /.chat_contacts -->
        </main>
        <!-- /.main_aside -->
      </aside>
      <section id="chats_windows" class="d_flex">
        <nav class="user_nav d_flex">
          <div class="nal_left d_flex" v-for="(state,index) in contacts" v-if="contacts[index].state">
            <img class="profile_image" :src="'assets/img/contact/avatar' + contacts[index].avatar + '.jpg'"
              alt="avatar utente">
            <div class="info_contact" >
              <h3 class="name_contact">{{ contacts[index].name }} </h3>
              <time class="chats_time">Ultimo accesso oggi alle:
                {{state.messages[(state.messages).length - 1].date}} </time>
            </div>
            </header>
          </div>
          <!-- /.nal_left -->
          <div class="nav_right">
            <i class="nav_icon fal fa-search"> </i>
            <i class="nav_icon fal fa-paperclip"> </i>
            <i class="nav_icon far fa-ellipsis-v"> </i>
          </div>
          <!-- /.nav right -->
        </nav>
        <!-- /.user_nav -->
        <main id="main_chat_window" class="d_flex">
          <ul class="current_user d_flex" ref="main_chat_window" v-for="(contact,index) in contacts"
            v-if="contact.state">
            <li :class="'bubble_message ' + contact.messages[position].status"
              v-for="(message,position) in contact.messages">
              <!-- v-if="contacts[index].messages[position].status == 'sent'" alternativa superata con il v-bind su class-->
              <p class="user_message">{{contact.messages[position].text}}</p>
              <time class="message_time">{{contact.messages[position].date}}</time>
            </li>
            <!-- /.bubble_message -->
          </ul>
          <!-- /.current_user -->

        </main>
        <footer id="footer_chat_window" class="d_flex">
          <div id="emoji_window" class="d_flex">
            <i class="far fa-smile-beam"></i>
          </div>
          <!-- /.emoji_window -->

          <input class="input_message" type="text" id="input_message" name="input_message" autocomplete="off"
            placeholder="Scrivi un messaggio" autofocus v-model="newMessage" v-on:keydown.enter="addCurrentMessage()">

          <div id="audio_message" class="d_flex">
            <i class="fas fa-microphone"></i>
          </div>
          <!-- /.audio_message -->

        </footer>

      </section>
    </div>
    <!-- /.app_wrapper -->
  </main>
  <!-- /.main_app -->

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>